:root {
  --main-color: #ffffff;
  --footer-color: #2f303a;
  --background-color: #F5F4F;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --bold-text-color: #212121;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}
.header-item,
.benefits-item,
.work-item,
.team-list,
.footer-item,
.project-item,
.filter-item {
  list-style: none;
}

.header {
  background-color: var(--main-color);
}

.logo,
.logo:visited {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.logo .web {
  color: #000000;
}

.item-link,
.item-link:visited {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--bold-text-color);
}
.item-link:hover,
.item-link:active {
  color: var(--accent-color);
}
/*main page*/
.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--bold-text-color);
}
.hero {
  background-color: var(--footer-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-color);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--main-color);

  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}
.benefits-item > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--bold-text-color);
}
.benefits-item > p {
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--background-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--bold-text-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/*portfolio page*/
.project-link {
  text-decoration: none;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--bold-text-color);
}
.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;

  background-color: #f5f4fa;
  color: var(--bold-text-color);
  border-radius: 4px;

  cursor: pointer;
}
.filter-button:hover,
.filter-button:active {
  background-color: var(--accent-color);
  color: var(--main-color);
}

/*footer*/
.footer {
  background-color: var(--footer-color);
}
.footer .web {
  color: var(--main-color);
}
.footer-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:active {
  color: var(--main-color);
}
